/*corpo do site*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #eff3ff;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

/*header*/
header{
    background-color: #8ef0db;
    padding: 1rem 5rem; 
    display: flex;
    align-items: center
    ;
    /* tamanho do header / rem, pois quando a página diminuir, ela vai ser adaptada*/
    font-family: Arial, Helvetica, sans-serif;
}

header div {
    display: flex; /*permitiu que os "botões" de redirecionamento fossem movidos*/
    justify-content: space-between;
    /* justify-content: */
    align-items: center;/*centralizou no header*/
}
#titulo{
    font-family: 'Jersey 10', sans-serif;
    font-size: 2.5rem;
    font-weight: 500;

}
img{
    width: 100px;
}

header a:hover{
    /*"animação do botão da header 'a'"*/
    background-color: aliceblue;
    width: 10rem 15rem;
}
header a{
    font-family: 'Jersey 10';
    text-decoration: none;
    color: black;
    margin-left: 20px;
    justify-content:flex-end;
    width: auto;
    transition: 0.3s;

}
/*conteúdo*/
section{
    max-width: 100%;
    margin: 5rem 5rem;
    padding: 4rem 20rem;
    width: 110%;
    margin: auto;
    border: 1rem;
}
h2 {
    font-family: 'Jersey 10';
    font-weight: 200;
    font-size: 3rem;
    margin-bottom: 3rem auto;
}
h4 {
    font-family: 'Jersey 10';
    font-weight: 100;
    font-size: 1.5rem;
    margin-top: 20px;
    margin-top: 8px;
}
/*inputs*/
input{
    width: 50%;
    padding: 1%;
    border: 3px solid #8ef0db;
    background-color: rgb(248, 255, 255);
    font-family: 'Jersey 10';
    font-size: 20px;
}
input:focus{/*animação quando o usuário clicar no input*/
    border-color: #77d4c0;
    width: 50%;
    padding: 2%;
    border: 4px;
}
i{
    padding: 10px 6px;
    
    margin-top: 9px 10px;
    font-size: 19px;
    cursor: pointer;
    background-color:rgb(248, 255, 255) ;
    border: 3px;
    border-color: #8ef0db;
    
}

/*botões*/
button{
    font-family: 'jersey 10';
    background-color: black;
    color: #eff3ff;
    border: none;
    padding: 10px 30px;
    font-size: 1,5rem;
    cursor: pointer;
    transition: 0,2s;
    margin-top: 10px;
}
button:hover{
    background-color: #8ef0db;
    color: black;
}
#div_mensagem{
    margin-top: 20px;
    font-weight: bold;
    font-family: 'Jersey 10';
    font-size: 1.2rem;
}