
*{
  padding: 0;
  margin: 0;
  gap: 0;
  list-style: none;
  
}

header{
    display:flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(190, 255, 242);
    width: 100%;
        
}
h1{
    font-family: "Jersey 10", sans-serif;
    font-weight: 1;
    font-style: normal;
    font-size: 40px;
}
h2{
    padding: 6%;
    font-family: "Jersey 10", sans-serif;
    font-weight: 100;
}
header div a {
    font-weight: 100;
    font-family: "Jersey 10", sans-serif;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 2rem;
}
/*section*/
section{
    background-color: whitesmoke;
    align-items: center;
    width: 50%;
}

section h4{
    font-family: "jersey 10", sans-serif;
    font-weight: 1;
    padding: 3%;
    display: flex;
    align-items:center;

}